2. Python aplicando a orientação a objetos/Lucas dos Anjos de Alencar - Curso Python_ aplicando a Orientação a Objetos - Alura - Certificado - Frente.pdf
2. Python aplicando a orientação a objetos/Lucas dos Anjos de Alencar - Curso Python_ aplicando a Orientação a Objetos - Alura - Verso.pdf
